body {
    background: grey;
    text-align: center;
    background-image: url('https://www.mlbstatic.com/mlb.com/images/share/138.jpg');
    background-size: 100%;
}
.sbig {
    font-size: 70px;
}
.big {
    font-size: 30px;
}
a {
    color: blue;
}
.credits {
    margin-top: 100px;
    text-align: right;
}
