body {
    background: grey;
    text-align: center;
    background-image: url('https://static.getjar.com/ss/18/827639_3.jpg');
}
.sbig {
    font-size: 70px;
}
.big {
    font-size: 30px;
}
a {
    color: blue;
}
.credits {
    margin-top: 100px;
    text-align: right;
}
